* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6faf7;
}

.container {
    max-width: 1100px;
    padding: 1rem;
    margin: auto;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;;
    color: #1b5e20;
}

p, li {
    font-family: "PT Serif", serif;
    color: #362f3e;
    line-height: 2;
}

header {
    padding: 10px;
    text-align: center;
    background: linear-gradient(135deg, #2e7d32, #66bb6a);
}

header h1 {
    padding: 10px;
    font-size: 3rem;
}

header p {
    padding: 5px;
    font-size: 1.8rem;
    color: white;
}

.secao01 {
  background-color: #ffffff;
}

.secao02 {
  background-color: #f0f7f2;
}

.secao03 {
  background-color: #ffffff;
}

.secao01 h2 {
    text-align: center;
    padding: 30px;
    font-size: 2.5rem;
}

.secao01 > p {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

.dor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 200px;
    padding: 20px;
    text-align: center;
}

.dor p {
    padding: 20px;
    font-size: 1.5rem;
}

.box01 {
    text-align: center;
    padding: 35px;
}

.box01 p {
    font-size: 1.5rem;
    padding: 15px;
}

.box01 li {
    padding: 15px;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

.secao02 h2 {
    padding: 15px;
    text-align: center;
    font-size: 2.2rem;
}

.secao02 > p {
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
}

.box02 {
    text-align: center;
    padding: 35px;
}

.box02 p {
    font-size: 1.5rem;
    padding: 15px;
}

.box02 li {
    padding: 15px;
    font-size: 1.5rem;
}

.resultado {
    text-align: center;
    padding: 30px;
}

.resultado p {
    padding: 15px;
    font-size: 1.5rem;
}

.secao03 {
    text-align: center;
}

.secao03 h2 {
    margin: 20px;
    padding: 10px;
    font-size: 2.2rem;
}

.secao03 h3 {
    padding: 15px;
    font-size: 1.7rem;
}

.secao03 p {
    padding: 15px;
    font-size: 1.5rem;
}

.secao03 li {
    padding: 15px;
    font-size: 1.5rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    padding: 20px;
}

.cta {
    display: inline-block;
    line-height: 30px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    height: 70px;
    background-color: #2e7d32;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 20px;
}

.cta:hover {
    background-color: #1b5e20;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }

  header h1 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 1.2rem;
  }

  .container {
    width: 93%;
    padding: 1rem;
  }

  .dor {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 0;
  }

  .cta {
    width: 93%;
    max-width: none;
  }

  img {
    width: 93%;
  }
}
